
body {
    text-align: center;
    position: center;
}

p {
    font-family: 'Yantramanav', sans-serif;
    text-align: center;
    
}

.hometext {
    columns: 2;
    text-align: justify;
    width: 80vw;
    padding-left: 10vw;
    padding-right: 10vw;
}

body i {
    align-items: center;

}
body li {
    font-family:'Yantramanav', sans-serif;
    text-align: center;
}

.bannerimage {
    background-image:url("../images/flowheader.jpg");
    background-repeat:no-repeat;
    background-size:100%;
    font-family:'Coustard', serif;
    height:50vh;
    width:100vw;
    text-align:center;
    kerning:30px;
    font-size: 3vw;
    padding-top: 20%;
}

body h1 {
    font-family:'Coustard', serif;
    text-align:center;
    position: center;
    font-size: 120%;
    padding-top: 10vh;
    padding-bottom: 2vh;    /* need to remove this padding...but need text to sit in middle of image*/
}

body h2 {
    font-family:'Coustard', serif;
    text-align:center;
    position: center;
    padding-top: 2vh;
    padding-bottom: 2vh;

}

body h3 {
    font-family:'Coustard', serif;
    text-align:center;
    position: center;
    padding-top: 2vh;
    padding-bottom: 2vh;

}

li {
    list-style-type:none;
    text-decoration:none;
    text-align: center;
    position: center;
} 

nav a {
    display:block;
    font-style: bold;
    color:black;
    background:none;
    text-align:right;
    padding: 14px 16px;
    text-decoration:none;
}

nav a:hover {
    background-color:none;
    text-decoration:none;
    transform:scale(1,1);
    text-transform:capitalize;
        .active 
            background-color:slategrey;
            font-weight:bold;
            text-decoration:none;
}

/* setting up gallery on home page */
.gallery {
    display: grid;
    grid-column-gap: 10px;
    grid-row-gap: 10px;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(6, 1fr);
    padding-left: 1vw;
    padding-right: 1vw;

}

.gallery img {
    width: 100%;
}

/* all images for gallery on home page */
#image1 {
    grid-column: 1/2;
    grid-row: 1/2;
}

#image2 {
    grid-column: 2/3;
    grid-row: 1/2;
}

#image3 {
    grid-column: 3/4;
    grid-row: 1/2;
}

#image4 {
    grid-column: 4/5;
    grid-row: 1/2;
}

#image5 { 
    grid-column: 1/2;
    grid-row: 2/3;
}

#image6 { 
    grid-column: 2/3;
    grid-row: 2/3;
}

#image7 {
    grid-column: 3/4;
    grid-row: 2/3;
}

#image8 {
    grid-column: 4/5;
    grid-row: 2/3;
}

#image9 {
    grid-column: 1/2;
    grid-row: 3/4;
}

#image10 {
    grid-column: 2/3;
    grid-row: 3/4;
}

#image11 {
    grid-column: 3/4;
    grid-row: 3/4;
}

#image12 {
    grid-column: 4/5;
    grid-row: 3/4;
}

#image13 {
    grid-column: 1/2;
    grid-row: 4/5;
}

#image14 {
    grid-column: 2/3;
    grid-row: 4/5;
}

#image15 {
    grid-column: 3/4;
    grid-row: 4/5;
}

#image16 {
    grid-column: 4/5;
    grid-row: 4/5;
}

#image17 {
    grid-column: 1/2;
    grid-row: 5/6;
}

#image18 {
    grid-column: 2/3;
    grid-row: 5/6;
}

#image19 {
    grid-column: 3/4;
    grid-row: 5/6;
}

#image20 {
    grid-column: 4/5;
    grid-row: 5/6;
}
#image21 {
    grid-column: 1/2;
    grid-row: 6/7;
}

#image22 {
    grid-column: 2/3;
    grid-row: 6/7;
}

#image23 {
    grid-column: 3/4;
    grid-row: 6/7;
}

#image24 {
    grid-column: 4/5;
    grid-row: 6/7;
}

/* kara images */ 
.gallery1 {
    display: grid;
    width:50%;
    flex:50%;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(1, 1fr);
    padding: 10px;
    grid-gap: 5px;

}

.gallery1 img {
    width: 100%;
}

#kara1 {
    grid-column: 1/2;
    grid-row: 1/2;
}

#kara2 {
    grid-column: 2/3;
    grid-row: 1/2;
}

#kara3 {
    grid-column: 3/4;
    grid-row: 1/2;
}


/*Media Queries*/
nav li {
    display:block;
    text-align:center;

}

nav a {
    text-align: center;
    background-color: none;
}

@media screen and (min-width:700px) {
    nav li {
        display:inline-block;
        text-align:center;
        
    }

    nav a {
        background-color: none;
        position: right;
        right: 2vw;
        top: 2vh;
    }
}

@media screen and (min-width:900px) {
    nav li {
        display: inline-block;
        text-align: center;
    }

    nav {
        background-color: none;
        position: absolute;
        right: 2vw;
        top: 2vh;
    }
}

@media all and (orientation:portrait) {
    .hometext {
        columns: 1;
        text-align: justify;
        width: 80vw;
        padding-left: 10vw;
        padding-right: 10vw;
    }
